.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40ch);
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}

.user-card {
  width: 30ch;
  cursor: pointer;
  margin: 2%;
}

.add {
  margin: 2%;
}
