<section class="examinations-header">
  <span class="separator"></span>
  <mat-paginator
    itemsPerPageLabel="Осмотров на странице:"
    [length]="total"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="changePage($event)"
  >
  </mat-paginator>
  <button
    mat-flat-button
    *ngIf="canEditExaminations"
    class="add-button"
    color="accent"
    routerLink="examinations/new"
  >
    Добавить
  </button>
</section>
<div class="examinations-container">
  <mat-card
    class="examination-card"
    *ngFor="let examination of examinations"
    [routerLink]="'examinations/' + examination.type + '/' + examination.id"
  >
    <mat-card-title class="examination-card-title">
      {{ getExaminationTitle(examination.type) }}
    </mat-card-title>
    <mat-card-subtitle class="examination-card-subtitle">
      {{
        moment.utc(examination.datetime).local().format("D MMMM YYYY, HH:mm")
      }}
    </mat-card-subtitle>
  </mat-card>
</div>
