.card-container {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.user-card {
  margin: auto;
  height: fit-content;
  width: fit-content;
  width: fit-content;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.back {
  margin-left: auto;
}
