.card-container {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.examination-card {
  margin: auto;
  margin-bottom: 2em;
}

.examination-content {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  min-width: 30em;
  width: fit-content;
  margin: 0.5em;
}

.back {
  margin-left: auto;
}
