<div class="card-container">
  <mat-card
    class="patient-card"
    *ngIf="examination && oldExamination && patient && user"
  >
    <mat-card-header>
      <mat-card-title>Общий осмотр</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <button mat-button class="back" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="examination-content">
      <mat-form-field>
        <mat-label>Пациент:</mat-label>
        <input
          matInput
          type="text"
          disabled="true"
          [value]="
            (patient.surname ? patient.surname : '') +
            ' ' +
            (patient.first_name ? patient.first_name : '') +
            ' ' +
            (patient.patronymic ? patient.patronymic : '')
          "
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Врач:</mat-label>
        <input
          matInput
          type="text"
          disabled="true"
          [value]="
            (user.surname ? user.surname : '') +
            ' ' +
            (user.first_name ? user.first_name : '') +
            ' ' +
            (user.patronymic ? user.patronymic : '')
          "
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Жалобы:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.complaints"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Анамнез:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.anamnesis"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Состояние</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.condition"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Сознание</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.conscious"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Цианоз</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.cyanosis"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Слизистые</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.mucous"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Питание</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.food"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Л/узлы</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.lymph_nodes"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Грудная клетка</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.rib_cage"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Легкие</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.lungs"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Дыхание</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.breath"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Сердце</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.heart"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Язык</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.tongue"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Живот</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.stomach"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Печень</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.liver"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Почки</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.kidneys"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Отеки</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.swelling"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Диурез</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.diuresis"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Объективно:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.objectively"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Диагноз:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.diagnosis"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Рекомендации:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          [(ngModel)]="examination.recomendations"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" *ngIf="canEdit" (click)="save()">
        Сохранить
      </button>
      <button mat-button *ngIf="canEdit" (click)="discard()">Сбросить</button>
    </mat-card-actions>
  </mat-card>
</div>
