<div class="card-container">
  <mat-card
    class="patient-card"
    *ngIf="examination && oldExamination && patient && user"
  >
    <mat-card-header>
      <mat-card-title>Осмотр терапевта</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <button mat-button class="back" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="examination-content">
      <mat-form-field>
        <mat-label>Пациент:</mat-label>
        <input
          matInput
          type="text"
          disabled="true"
          [value]="
            (patient.surname ? patient.surname : '') +
            ' ' +
            (patient.first_name ? patient.first_name : '') +
            ' ' +
            (patient.patronymic ? patient.patronymic : '')
          "
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Врач:</mat-label>
        <input
          matInput
          type="text"
          disabled="true"
          [value]="
            (user.surname ? user.surname : '') +
            ' ' +
            (user.first_name ? user.first_name : '') +
            ' ' +
            (user.patronymic ? user.patronymic : '')
          "
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Жалобы:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          maxlength="1000"
          [(ngModel)]="examination.complaints"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Анамнез:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          maxlength="1000"
          [(ngModel)]="examination.anamnesis"
        ></textarea>
      </mat-form-field>
      <mat-card class="examination-card">
        <mat-card-header>
          <mat-card-title> Объективно </mat-card-title>
        </mat-card-header>
        <mat-card-content class="examination-content">
          <mat-form-field>
            <mat-label>Состояние:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.condition"
            />
          </mat-form-field>
          <div>
            <mat-form-field>
              <mat-label>Сознание:</mat-label>
              <input
                matInput
                cdkTextareaAutosize
                type="text"
                maxlength="200"
                [(ngModel)]="examination.conscious"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Цианоз:</mat-label>
              <input
                matInput
                cdkTextareaAutosize
                type="text"
                maxlength="200"
                [(ngModel)]="examination.cyanosis"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Слизистые:</mat-label>
              <input
                matInput
                cdkTextareaAutosize
                type="text"
                maxlength="200"
                [(ngModel)]="examination.mucous"
              />
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Питание:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.food"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Периф. л/узлы:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.lymph_nodes"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Грудная клетка:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.rib_cage"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Перкуторно над легкими:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.lungs"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Дыхание:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.breath"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Сердце:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.heart"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Язык:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.tongue"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Живот:</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.stomach"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Печень:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.liver"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Почки:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.kidneys"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Периферические отеки:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.swelling"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Диурез:</mat-label>
            <input
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="200"
              [(ngModel)]="examination.diuresis"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Прочее объективно:</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              type="text"
              maxlength="1000"
              [(ngModel)]="examination.objectively"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-form-field>
        <mat-label>Диагноз:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          maxlength="1000"
          [(ngModel)]="examination.diagnosis"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Рекомендации:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          type="text"
          maxlength="1000"
          [(ngModel)]="examination.recomendations"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" *ngIf="canEdit" (click)="save()">
        Сохранить
      </button>
      <button mat-button *ngIf="canEdit" (click)="discard()">Сбросить</button>
    </mat-card-actions>
  </mat-card>
</div>
