.nav-link {
  margin-right: 2ch;
}

.example-spacer {
  flex: 1 1 auto;
}

.app-nav {
  position: relative;
  z-index: 2;
}

.app-loading {
  position: relative;
  z-index: 1;
}

.app-container {
  margin: 2%;
}
