<div class="card-container">
  <mat-card class="patient-card" *ngIf="patient && oldPatient">
    <mat-card-header>
      <mat-card-title>Новый пациент</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <button mat-button class="back" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <section class="input-section">
        <div class="input-block">
          <mat-form-field class="input-field">
            <mat-label>Фамилия:</mat-label>
            <input
              matInput
              type="text"
              required="True"
              maxlength="80"
              [(ngModel)]="patient.surname"
            />
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Имя:</mat-label>
            <input
              matInput
              type="text"
              required="True"
              maxlength="80"
              [(ngModel)]="patient.first_name"
            />
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Отчество:</mat-label>
            <input
              matInput
              type="text"
              maxlength="80"
              [(ngModel)]="patient.patronymic"
            />
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Пол:</mat-label>
            <mat-select matNativeControl [(ngModel)]="patient.sex">
              <mat-option [value]="0">Неизвестный</mat-option>
              <mat-option [value]="1">Мужской</mat-option>
              <mat-option [value]="2">Женский</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-block">
          <mat-form-field class="input-field">
            <mat-label>День рождения:</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              maxlength="10"
              [(ngModel)]="patient.birthdate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Адрес:</mat-label>
            <input
              matInput
              type="text"
              maxlength="255"
              [(ngModel)]="patient.address"
            />
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Телефон:</mat-label>
            <input
              matInput
              type="text"
              maxlength="15"
              [(ngModel)]="patient.phone"
            />
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Почта:</mat-label>
            <input
              matInput
              type="email"
              maxlength="320"
              [(ngModel)]="patient.email"
            />
          </mat-form-field>
        </div>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="save()">Сохранить</button>
      <button mat-button (click)="discard()">Сбросить</button>
    </mat-card-actions>
  </mat-card>
</div>
