<div class="card-container">
  <mat-card class="patient-card" *ngIf="research">
    <mat-card-header>
      <mat-card-title>{{ research.name }}</mat-card-title>
      <mat-card-subtitle>{{
        moment.utc(research.datetime).local().format("D MMMM YYYY, HH:mm")
      }}</mat-card-subtitle>
      <button mat-button class="back" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="research-content">
      <mat-form-field>
        <mat-label>Пациент:</mat-label>
        <input matInput type="text" disabled="true" [value]="patientFullName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Врач:</mat-label>
        <input matInput type="text" disabled="true" [value]="doctorFullName" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions style="display: flex">
      <button mat-button color="accent" (click)="download()">Скачать</button>
      <span style="flex: auto"></span>
      <button mat-button color="warn" *ngIf="canEdit" (click)="delete()">
        Удалить
      </button>
    </mat-card-actions>
  </mat-card>
</div>
