<mat-card *ngIf="user">
    <mat-card-content>
        <section class="input-section">
            <mat-form-field class="input-field">
                <mat-label>Id:</mat-label>
                <input matInput 
                type="text" 
                required=True
                [disabled]="true"
                [(ngModel)]="user.id"/>
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>Логин:</mat-label>
                <input matInput 
                type="text"
                required=True
                pattern="[a-zA-Z]+"
                [disabled]="!canEdit"
                [(ngModel)]="user.login"/>
            </mat-form-field>
            <mat-form-field class="input-field" *ngIf="canEdit">
                <mat-label>Пароль:</mat-label>
                <input matInput 
                type="text"
                pattern="[a-zA-Z]+"
                [disabled]="!canEdit"
                [(ngModel)]="password"/>
            </mat-form-field>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" *ngIf="canEdit" (click)="save()">Сохранить</button>
        <button mat-button *ngIf="canEdit" (click)="dropForm()">Сбросить</button>
        <button mat-button color="warn" *ngIf="canAdd" (click)="delete()">Удалить</button>
        <p style="color: red;" *ngIf="error">{{error}}</p>
    </mat-card-actions>
</mat-card>